<div class="container">
  <h2>Auction Details</h2>
  <div class="row">
    <!--Bid-->

    <div class="col-sm-12 col-md-8 order-line-box">

      <!-- Bid -->
      <div var="cartItem row">
        <div class="card border-info mb-3">
          <div class="card-header col-12">
            <div class="row">
              <div class="col user-prof-info-bar">
                <a href="/user">
                  <img src="../../../assets/images/profile-photo.png" class="user-small-img">
                  <i class="prd-lbl">{{auction.user.name}}</i>
                </a>

              </div>
              <div class="col float-right">
                <div class="float-right">
                  {{auction.status}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <i class="prd-lbl">Begin</i> <i>{{auction.creation_date | timeAgo }}</i>
              </div>
              <div class="col float-right">
                <div class="float-right">
                  <i class="prd-lbl ">Expiry date</i> <i>{{auction.expiry_date | timeAgo}}</i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <i class="prd-lbl">Price</i><i>{{auction.bid_price|currency}}</i>
              </div>
              <div class="col">
                <div class="float-right">
                  <i class="prd-lbl">Bid price</i> <i>{{auction.init_price |currency}}</i>
                </div>
              </div>

            </div>
          </div>
          <div class="card-body col-12">
            <div class="row">
              <img src="cartItem.product.imageUrl" class="cart-prd-img col-3">
              <div class="col-9">
                <h4 class="card-title">{{auction.title}}</h4>
                <p class="card-text">{{auction.description}}</p>
              </div>
            </div>


            <div class="row">
              <app-rating [auction]="auction"></app-rating>
              <div class="order-line-cmd-rgt">
                <div class="prodcut-cmd-icon ">

                  <div *ngIf="(auction.status=='Initiated')">
                    <form [formGroup]="frmBid" (ngSubmit)="OnBid()" appAddBid  msgType="{{validateMsgType}}">
                      <div class="form-group">
                        <input type="number" [formControl]="frmBid.get('bid')" name="bid" id="bid"
                               [ngClass]="{'is-invalid': isValid('bid')}"
                               autofocus

                               class="mr-lg-3 form-control"/>
                        <div *ngIf="hasError('bid', 'required')" class="invalid-feedback">
                          amount is required
                        </div>
                        <!--    <div *ngIf="hasError('bid', 'isPrice')" class="invalid-feedback">-->
                        <!--      invalid bid price-->
                        <!--    </div>-->
                        <!--    <div *ngIf="hasError('bid', 'validateBidPrice')" class="invalid-feedback">-->
                        <!--      The new price should be more than the auction price-->
                        <!--    </div>-->
                      </div>

                      <button type="submit" class="btn btn-primary">
                        Confirm Bid
                      </button>

                    </form>
                  </div>


                </div>
              </div>



            </div>


          </div>
          <div class="row">
            <div class="col" >
              <div class="alert alert-success " role="alert" *ngIf="(successMsg)">
                <strong>Bid added successfully , </strong> {{successMsg}}
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="(validateMsg)">
                <strong>Not Valid !</strong> {{validateMsg}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col" >
              <div class="alert alert-success " role="alert"  *ngIf="(auction.winner)">
                <strong> winner : </strong> {{auction.winner.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bid History -->
      <app-bid-list></app-bid-list>


    </div>
    <!--Comments-->
    <comments [auctionId]="auction._id" [comments]="auction.comments"></comments>
  </div>

</div>
