<div class="order-line-cmd" >
                                <span class="prodcut-cmd-icon" title="likes">

                                    <form [formGroup]="frmLike" (ngSubmit)="OnLike()" class="col"
                                          style="display: inline">

                                        <button type="submit" class="btn btn-primary fas fa-plus">
                                        <img src="../../../assets/images/like.png" width="20px" height="20px">    {{auction.count_like}}

                                        </button>



                                    </form>
                                </span>

  <span class="prodcut-cmd-icon" title="dislikes">

                                    <form [formGroup]="frmDislike" (ngSubmit)="OnDislike()" class="col"
                                          style="display: inline">
                                        <button type="submit" class="btn btn-danger fas fa-minus">
                                            <img src="../../../assets/images/dislike.png" width="20px" height="20px"> {{auction.count_dislike}} </button>
                                    </form>
                                </span>
</div>

