<!-- Bid History -->
<div class="content row" *ngIf="auction">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="">
          <div class="btn-group p-lg-2">
            <h6>Bids History</h6>
          </div>
        </div>
        <div class="table-container">
          <table class="table table-filter">
            <tbody>
            <tr data-status="pagado" *ngFor="let bid of auction.bids">
              <td>
                <div class="media">
                  <a href="#" class="pull-left">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg"
                         class="media-photo">
                  </a>
                  <div class="media-body">
                    <span class="media-meta stick-rgt-25">{{bid.creation_date | timeAgo}}</span>
                    <h4 class="title">
                      {{bid.user.name}}
                      <span class="pagado">({{bid.price |currency}})</span>
                    </h4>
                  </div>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
