<div class="container">
  <h2>Auctions</h2>
  <div class="row">

    <div class="col-sm-12 col-md-8 order-line-box">
      <div var="cartItem">
        <div class="card border-info mb-3">
          <div class="card-header col-12">
            <div class="row">
              <div class="col-5 user-prof-info-bar">
                <a href="/user">
                  <img src="../../../assets/images/profile-photo.png" class="user-small-img">
                  <i class="prd-lbl">user.name</i>
                </a>
              </div>
              <div class="col-4">
                <i class="prd-lbl">Begin</i> <i>01/01/2020</i>
              </div>
              <div class="col-3">
                <i class="prd-lbl">Status</i><i>Open</i>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <i class="prd-lbl">Price</i><i>1223.66$</i>
              </div>
              <div class="col-3">
                <i class="prd-lbl">Bid price</i> <i>100.00$</i>
              </div>
              <div class="col-6">
                <i class="prd-lbl">Expiry date</i> <i>01/02/2020</i>
              </div>
            </div>
          </div>
          <div class="card-body col-12">
            <div class="row">
              <img src="cartItem.product.imageUrl" class="cart-prd-img col-3">
              <div class="col-9">
                <h4 class="card-title">cartItem.product.productName</h4>
                <p class="card-text">cartItem.product.description</p>
              </div>
            </div>
            <div class="row">
              <div class="order-line-cmd">
              <span class="prodcut-cmd-icon" title="likes">
                  <button type="submit" class="btn btn-primary">
                    +<i class="fas fa-plus">30</i>
                  </button>
              </span>
                <span class="prodcut-cmd-icon" title="dislikes">
                  <button type="submit" class="btn btn-danger">
                    <i class="fas fa-minus">-100</i>
                  </button>
              </span>
              </div>
              <div class="order-line-cmd-rgt">
                <div class="prodcut-cmd-icon ">
                  <form method="post" action="/cart">
                    <input type="hidden" value="remove" name="addItem" id="addItem"/>
                    <input type="hidden" value="cartItem.product.id" name="productId" id="addItemProductId"/>
                    <button type="submit" class="btn btn-primary">
                      Bid
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div var="cartItem">
        <div class="card border-info mb-3">
          <div class="card-header col-12">
            <div class="row">
              <div class="col-5 user-prof-info-bar">
                <a href="/user">
                  <img src="../../../assets/images/profile-photo.png" class="user-small-img">
                  <i class="prd-lbl">user.name</i>
                </a>
              </div>
              <div class="col-4">
                <i class="prd-lbl">Begin</i> <i>01/01/2020</i>
              </div>
              <div class="col-3">
                <i class="prd-lbl">Status</i><i>Open</i>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <i class="prd-lbl">Price</i><i>1223.66$</i>
              </div>
              <div class="col-3">
                <i class="prd-lbl">Bid price</i> <i>100.00$</i>
              </div>
              <div class="col-6">
                <i class="prd-lbl">Expiry date</i> <i>01/02/2020</i>
              </div>
            </div>
          </div>
          <div class="card-body col-12">
            <div class="row">
              <img src="cartItem.product.imageUrl" class="cart-prd-img col-3">
              <div class="col-9">
                <h4 class="card-title">cartItem.product.productName</h4>
                <p class="card-text">cartItem.product.description</p>
              </div>
            </div>
            <div class="row">
              <div class="order-line-cmd">
              <span class="prodcut-cmd-icon" title="likes">
                  <button type="submit" class="btn btn-primary">
                    +<i class="fas fa-plus">30</i>
                  </button>
              </span>
                <span class="prodcut-cmd-icon" title="dislikes">
                  <button type="submit" class="btn btn-danger">
                    <i class="fas fa-minus">-100</i>
                  </button>
              </span>
              </div>
              <div class="order-line-cmd-rgt">
                <div class="prodcut-cmd-icon ">
                  <form method="post" action="/cart">
                    <input type="hidden" value="remove" name="addItem" id="addItem"/>
                    <input type="hidden" value="cartItem.product.id" name="productId" id="addItemProductId"/>
                    <button type="submit" class="btn btn-primary">
                      Bid
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div var="cartItem">
        <div class="card border-info mb-3">
          <div class="card-header col-12">
            <div class="row">
              <div class="col-5 user-prof-info-bar">
                <a href="/user">
                  <img src="../../../assets/images/profile-photo.png" class="user-small-img">
                  <i class="prd-lbl">user.name</i>
                </a>
              </div>
              <div class="col-4">
                <i class="prd-lbl">Begin</i> <i>01/01/2020</i>
              </div>
              <div class="col-3">
                <i class="prd-lbl">Status</i><i>Open</i>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <i class="prd-lbl">Price</i><i>1223.66$</i>
              </div>
              <div class="col-3">
                <i class="prd-lbl">Bid price</i> <i>100.00$</i>
              </div>
              <div class="col-6">
                <i class="prd-lbl">Expiry date</i> <i>01/02/2020</i>
              </div>
            </div>
          </div>
          <div class="card-body col-12">
            <div class="row">
              <img src="cartItem.product.imageUrl" class="cart-prd-img col-3">
              <div class="col-9">
                <h4 class="card-title">cartItem.product.productName</h4>
                <p class="card-text">cartItem.product.description</p>
              </div>
            </div>
            <div class="row">
              <div class="order-line-cmd">
              <span class="prodcut-cmd-icon" title="likes">
                  <button type="submit" class="btn btn-primary">
                    +<i class="fas fa-plus">30</i>
                  </button>
              </span>
                <span class="prodcut-cmd-icon" title="dislikes">
                  <button type="submit" class="btn btn-danger">
                    <i class="fas fa-minus">-100</i>
                  </button>
              </span>
              </div>
              <div class="order-line-cmd-rgt">
                <div class="prodcut-cmd-icon ">
                  <form method="post" action="/cart">
                    <input type="hidden" value="remove" name="addItem" id="addItem"/>
                    <input type="hidden" value="cartItem.product.id" name="productId" id="addItemProductId"/>
                    <button type="submit" class="btn btn-primary">
                      Bid
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

