<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"> <h6><small class="stick-rgt-25">45 comments</small> Comments </h6></div>
  <div class="card-body">
    <div class="box">
      <h6>Add Comments</h6>
      <form>
        <div class="form-group">
          <label for="exampleTextarea">Write what do you think about this auction or seller</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>

    <div class="comments-list">
      <div class="media">
        <p class="stick-rgt-25"><small>5 days ago</small></p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/1/">
        </a>
        <div class="media-body mr-lft-5">

          <h4 class="media-heading user_name">Baltej Singh</h4>
          Wow! this is really great.

          <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
        </div>
      </div>
      <div class="media">
        <p class="stick-rgt-25"><small>5 days ago</small></p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/2/">
        </a>
        <div class="media-body mr-lft-5">

          <h4 class="media-heading user_name">Baltej Singh</h4>
          Wow! this is really great.

          <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
        </div>
      </div>
      <div class="media">
        <p class="stick-rgt-25"><small>5 days ago</small></p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/3/">
        </a>
        <div class="media-body mr-lft-5">

          <h4 class="media-heading user_name">Baltej Singh</h4>
          Wow! this is really great.

          <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
        </div>
      </div>
      <div class="media">
        <p class="stick-rgt-25"><small>5 days ago</small></p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/4/">
        </a>
        <div class="media-body mr-lft-5">

          <h4 class="media-heading user_name">Baltej Singh</h4>
          Wow! this is really great.

          <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
        </div>
      </div>
    </div>

  </div>
</div>
