<div class="container">
  <h2>Create New Auction</h2>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="jumbotron">
      <h2>Auction Data</h2>
      <p>
      <samp class="lead small">Pleas enter all data to create your auction </samp>
      <samp class="lead  small">auction expiry date will be after 7 days by default</samp>
      </p>
      <form [formGroup]="frm" (ngSubmit)="OnSubmit()">
        <fieldset>
          <!--           <legend>Legend</legend>-->

          <div class="form-group">
            <label for="title">Auction Title</label>
            <input type="text" [formControl]="frm.get('title')" class="form-control" id="title" name="title" aria-describedby="emailHelp" placeholder="Enter Title">
            <small *ngIf="!frm.get('title').valid" id="emailHelp" class="form-text text-muted">please enter this field</small>
          </div>
          <div class="form-group">
            <label for="init_price">Initial Price</label>
            <input type="number" [formControl]="frm.get('init_price')" class="form-control" id="init_price" name="init_price" aria-describedby="emailHelp" placeholder="Enter Initial Price">
            <small *ngIf="!frm.get('init_price').valid"  class="form-text text-muted">Invalid price</small>
          </div>
          <div class="form-group">
            <label for="expiry_date">Expiry Date</label>
            <input type="date" [formControl]="frm.get('expiry_date')" [value]="currentDate | date:'yyyy-MM-dd'" class="form-control" id="expiry_date" name="expiry_date" aria-describedby="emailHelp" placeholder="Enter expiry date">
            <small *ngIf="!frm.get('expiry_date').valid"  class="form-text text-muted">please enter this field</small>
          </div>


          <div class="form-group">
            <label for="description">Auction Description</label>
            <textarea [formControl]="frm.get('description')" class="form-control" id="description" name="description" rows="3"></textarea>
            <small *ngIf="!frm.get('description').valid" class="form-text text-muted">please enter this field</small>
          </div>
          <div class="form-group">
            <label for="photo">Select Image</label>
            <input type="file"
                   (change)="onFileSelect($event)"
                   class="form-control-file"
                   id="photo"
                   aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
          </div>
          <div class="form-group">
          <button type="submit" [disabled]="!frm.valid"  class="btn btn-primary">Create</button>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="(errorMsg)">
            <strong>Error</strong> {{errorMsg}}
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

</div>

