<div class="media row">
  <div class="col-md-12" style=""><small>{{comment.creation_date | timeAgo}}</small></div>
  <div class="col-md-12">
    <div class="media-body row" >
      <div class="col-md-2 pd-lft-0">
        <a [routerLink]="['/user', comment.user._id, 'auctions']" class="media-left">
          <img class="user-small-sqr-img" src='{{hostUrl + comment.user.photoUrl}}' alt="avatar"/>
        </a>
      </div>
      <div class="col-md-10">
        <h4 class="media-heading user_name">{{comment['user.name']}}</h4>
        {{comment.comment_text}}
      </div>

    </div>
  </div>
<!--  <div class="col-md-10">-->
<!--    <div class="col-md-1">-->
<!--      <a [routerLink]="['/user', comment.user._id, 'auctions']" class="media-left">-->
<!--        <img class="user-small-sqr-img" src='{{hostUrl + comment.user.photoUrl}}' alt="avatar"/>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="media-body mr-lft-5 col-md-9">-->

<!--      <h4 class="media-heading user_name">{{comment['user.name']}}</h4>-->
<!--      {{comment.comment_text}}-->

<!--    </div>-->
<!--  </div>-->
</div>
