
<div class="row" *ngIf="(lstAuctions|async)" >
  <div *ngFor="let auction of lstAuctions|async" class="col-sm-12 col-md-8 order-line-box">
    <div var="cartItem">
      <div class="card border-info mb-3">
        <div class="card-header col-12">
          <div class="row">
            <div class="col user-prof-info-bar">
              <a [routerLink]="['/user', auction.user._id, 'auctions']">
                <img src="{{hostUrl + auction.user.photoUrl}}" class="user-small-img">
                <i class="prd-lbl">{{auction.user.name}}</i>
              </a>

            </div>
            <div class="col float-right">
              <div class="float-right" appStatus status="{{auction.status}}">
                {{auction.status}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <i class="prd-lbl">Begin</i> <i>{{auction.creation_date | timeAgo }}</i>
            </div>
            <div class="col float-right">
              <div class="float-right">
                <i class="prd-lbl ">Expiry date</i> <i>{{auction.expiry_date | timeAgo}}</i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <i class="prd-lbl">Price</i><i>{{auction.bid_price|currency}}</i>
            </div>
            <div class="col">
              <div class="float-right">
                <i class="prd-lbl">Bid price</i> <i>{{auction.init_price |currency}}</i>
              </div>
            </div>

          </div>
        </div>
        <div class="card-body col-12">
          <div class="row">
            <img src="{{hostUrl + auction.photosUrl[0]}}" class="cart-prd-img col-3">
            <div class="col-9">
              <h4 class="card-title">{{auction.title}}</h4>
              <p class="card-text">{{auction.description}}</p>
            </div>
          </div>
          <div class="row">
            <app-rating [auction]="auction"></app-rating>

            <div class="order-line-cmd-rgt">
              <div class="prodcut-cmd-icon ">

                <div *ngIf="(auction.status=='Open')">
                  <a [routerLink]="['/auctions',auction._id]" class="btn btn-primary">
                    Bid
                  </a>
                </div>


              </div>
            </div>


          </div>


        </div>
        <div class="row">
          <div class="col">
            <div class="alert alert-success " role="alert" *ngIf="(auction.winner)">
              <strong> winner : </strong> {{auction.winner.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
