
  <div class="row" *ngIf="(lstAuctions|async)">
    <div *ngFor="let item of lstAuctions|async" class="col-sm-12 col-md-8 order-line-box">
      <div var="cartItem">
        <div class="card border-info mb-3">
          <div class="card-header col-12">
            <div class="row">
              <div class="col user-prof-info-bar">
                <a href="/user">
                  <img src="{{hostUrl + item.user.photoUrl}}" class="user-small-img">
                  <i class="prd-lbl">{{item.user.name}}</i>
                </a>

              </div>
              <div class="col float-right">                <div class="float-right">
                  {{item.status}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <i class="prd-lbl">Begin</i> <i>{{item.creation_date | timeAgo }}</i>
              </div>
              <div class="col float-right">
                <div class="float-right">
                  <i class="prd-lbl ">Expiry date</i> <i>{{item.expiry_date | timeAgo}}</i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <i class="prd-lbl">Price</i><i>{{item.bid_price|currency}}</i>
              </div>
              <div class="col">
                <div class="float-right">
                  <i class="prd-lbl">Bid price</i> <i>{{item.init_price |currency}}</i>
                </div>
              </div>

            </div>
          </div>
          <div class="card-body col-12">
            <div class="row">
              <img src="{{hostUrl + item.photosUrl[0]}}" class="cart-prd-img col-3">
              <div class="col-9">
                <h4 class="card-title">{{item.title}}</h4>
                <p class="card-text">{{item.description}}</p>
              </div>
            </div>
            <div class="row">
              <app-rating [auction]="item"></app-rating>

              <div class="order-line-cmd-rgt">
                <div class="prodcut-cmd-icon ">

                  <div *ngIf="(item.status=='Initiated')">
                    <a [routerLink]="['/auctions',item._id]" class="btn btn-primary">
                      Bid
                    </a>
                  </div>


                </div>
              </div>



            </div>


          </div>
          <div class="row">
            <div class="col" >
              <div class="alert alert-success " role="alert"  *ngIf="(item.winner)">
                <strong> winner : </strong> {{item.winner.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
